body {
    height: 100%;             
    margin: 0;                
    padding: 0;                  
    display: flex;            
    flex-direction: column;   
}

footer{
    bottom: 0;
    position: relative;
}

#titulo {
    color: aliceblue;
}

h1{

color: white;

}